<li id="<%= dom_id(comment) %>" class="list-group-item comment mb-1">
  <span><%= sanitize(comment.body) %></span><br>
  <small>
    <span class="text-info">
    <%= fa_icon "comment" %>&nbsp;
    <em><%= comment.name.titleize %>
      commented&nbsp;<%= time_ago_in_words(comment.created_at) %>&nbsp;ago.
    </em>
    </span>
    <br>
  <%= link_to [@post, comment], class: "delete-comment",
    method: :delete, remote: true,
    data: { confirm: 'Are you sure you wan to delete this comment?' } do %>
    <%= fa_icon("trash-alt", text: "Destroy", type: "regular") %>
  <% end %>
  </small>

</li>
