<div class="text-center mt-3">
  <h1>
    Posts tagged with "<%= @tag.name %>"
  </h1>
  <p>
    <%= link_to posts_path, class: "btn btn-outline-primary" do %>
      <%= fa_icon("arrow-left", text: "All posts") %>
    <% end %>
  </p>
</div>
<div class="container">
  <div class="row">
    <% if user_signed_in? %>
    <%= render @posts %>
      <% else %>
      <%= render @published_posts %>
    <% end %>
  </div>
</div>
