<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Give your post an informative snazzy title." %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :header_image, "Add a header image for this post" %>
    <%= form.file_field :header_image, class: "form-control" %>
    <small id="headerImageHelpBlock" class="form-text text-info">
      The header image will appear in the header section of this post in the "All Posts" view.
    </small>
  </div>
  <div class="form-group">
    <%= form.label :tag_list, "Tag post by adding 'tags' separated by a comma, e.g. one, two, three, twenty four, five" %>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :body %>
    <%#= form.text_area :body, class: "form-control" %>
    <%= form.trix_editor :body %>
  </div>
  <div class="form-group">
    <%= form.label :photos, "Add one or more photos to display below body of post." %>
    <%= form.file_field :photos, multiple: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :published, "To publish the final version of this post click on 'Final'" %> <br>

    <% Post.publisheds.keys.map do |published| %>
      <label class="form-check-inline">
        <%= form.radio_button :published, published, class: "form-check-input" %>
        <span class="form-check-label"><%= published.humanize %></span>
      </label>
    <% end %>
  </div>
  <div class="btn-group">
    <% unless post.new_record? %>
      <%= link_to  @post, class: "btn btn-lg btn-outline-primary" do %>
        <%= fa_icon("times", text: "Cancel") %>
      <% end %>
    <% end %>
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
