  <div class="card mr-3 mb-3" style="width: 22rem;"> <!-- style="width: 18rem;" -->
    <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/kimis-blog-production/cool-background-tropical-salad-sm.jpg" alt="Tropical Salad">
    <div class="card-body">
      <p class="card-text"><%= sanitize(post.body.truncate(300)) %></p>
      <p class="card-text"><%= fa_icon("comments") %>&nbsp;
        <%= pluralize(post.comments.size, 'comment') %>
      </p>
      <p class="card-text">
        <%= link_to 'Read more...', post, class: "g-font-size-13" %>
      </p>
      <% if user_signed_in? %>
      <p>
        <%= link_to 'Show', post, class: "btn btn-link" %>&nbsp;
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-link" %>&nbsp;
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link btn-danger" %>
      </p>
      <% end %>
    </div>
  </div>
