<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="display-4"><%= @post.title %></h1>
      <p><%= sanitize(@post.body) %></p>
      <%= link_to 'Back', posts_path, class: "btn btn-lg btn-outline-primary" %>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 offset-lg-2">
    <h3>
      <%= fa_icon("comments", text: "Comments") %>
      <small><span class="badge badge-info" id="sizeComments1"></span></small>&nbsp;
      <%= link_to "View comments", "#", class: "btn btn-link", id: "comments_link" %>
    </h3>
    <section id="comments-section">
      <ul id="list-comments" class="list-group">
        <% if @post.comments.any? %>
          <%= render @post.comments %>
        <% else %>
        <li class="list-group-item list-group-item-info" id="comment_placeholder">
          <h4>Nobody has commented yet.</h4>
        </li>
        <% end %>
      </ul>
      <div class="my-2">
        <div class="card border-primary">
          <div class="card-body">
            <%= render "comments/form" %>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
