<!-- Blog Single Item Blocks -->
<div class="container pt-5">
  <div class="row">
    <!-- <div class="col-md-3 pr-2 bg-stripes" id="left-col"></div> -->
    <div class="col-lg-8 offset-lg-1">
      <div class="header" id="stickyTitle">
        <h1 class="h2 text-info"><%= @post.title %></h1>
      </div>
      <div class="content">
        <!-- Author -->
        <div class="media align-items-center mb-2">
          <%= image_tag "kimi_75x75.jpg",
            size: "75x75",
            alt: "kimi-headshot",
            id: "kimi-headshot",
            class: "image-fluid mr-3 mb-2" %>

          <div class="media-body">
            <h4 class="h5">
              By Kimberley Smuts&nbsp;
              <% if user_signed_in? %>
                <%= post_version_label(@post.published) %>
              <% end %>
            </h4>
            <span class="d-block">
              Posted: <%= @post.created_at.strftime("%d %b %Y") %>
                <% if @post.updated_at > @post.created_at + 1.day %>
                | Updated: <%= @post.updated_at.strftime("%d %b %Y") %>
                <% end %>
            </span>
            <span class="d-block my-2">
              <%= fa_icon("tags") %>&nbsp;
              <% if @post.tags.any? %>
                <%= render @post.tags %>
                <% else %>
                <span class="badge badge-warning"> - tag me -</span>
              <% end %>
            </span>

          </div>

          <!-- Figure Social Icons -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item g-mx-2">
              <a class="rounded-circle" href="#!">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item mx-2">
              <a class="rounded-circle" href="#!">
                <i class="fab fa-pinterest fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item mx-2">
              <a class="rounded-circle" href="#!">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
          </ul>
          <!-- End Figure Social Icons -->
        </div>
        <!-- End Author -->
        <div class="btn-group mb-2">
          <%= link_to posts_path, class: "btn btn-outline-primary" do %>
            <%= fa_icon("arrow-left", text: "Back to posts") %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Edit post', edit_post_path(@post), class: "btn btn-primary" %>
          <% end %>
        </div>
        <p>
          <% if user_signed_in? && @post.header_image.attached? %>
            <div class="media">
              <%= image_tag @post.header_image.variant(resize: "150x76"), class: "img-thumbnail" %>
              <div class="media-body">
                <%= link_to remove_header_image_post_path(@post, @header_image),
                  method: :delete, data: { confirm: 'Are you sure you want to remove this header image?' }, title: "Remove header image", class: "btn btn-link" do %>
                <%= fa_icon("trash-alt", type: "regular",style: 'color: Tomato') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </p>

        <!-- start of post body-->
        <div class="mb-4 mt-2">
          <span class="firstcharacter">
            <%= (strip_tags @post.body).chr %>
            <!-- retutns the first character after stripping all the tags -->
          </span>
          <p>
            <div class="trix-content">
              <%= sanitize @post.body[6..-1] %>
              <!-- , attributes: %w(href) -->
            </div>
          </p>
          <!--Will return the array from 6 to the last character. -->
        </div>
        <!-- end of post -->
        <!-- start of photo slider -->
        <% if user_signed_in? && @post.photos.attached? %>
          <h4 class="text-center">Sharing <%= pluralize(@post.photos.size, 'photo' ) %></h4>
          <p class="text-center">
            <%= link_to 'Remove All Photos', remove_all_photos_post_path(@post),
              method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          </p>
        <div class="row">
          <% @post.photos.each do |photo| %>
            <div class="col-md-6">
              <% if photo.variable? %>
                <%= link_to image_tag(photo.variant(resize: "550x550", auto_orient: true), class: "mx-auto img-fluid img-thumbnail"), photo %>
                <% elsif photo.previewable? %>
                <%= image_tag photo.preview(resize: "350x350"), class: "mx-auto img-fluid img-thumbnail" %>
                <% elsif photo.image? %>
                  <%= image_tag(photo, width: 570, class: "mx-auto img-fluid img-thumbnail") %>
              <% end %>
              <div class="text-center align-self-center">
                <%= File.basename(photo.filename.to_s, ".*").titleize %>&nbsp;
                <% if user_signed_in? %>
                  <%= link_to remove_photo_image_post_path(@post, @photo),
                    method: :delete, data: { confirm: 'Do you really you want to delete this photo?', title: "Remove this photo" }, class: "btn btn-link" do %>
                    <%= fa_icon("trash-alt", type: "regular", style: 'color: Tomato') %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
        
        <!-- end of photo slider -->
        <div class="btn-group mb-2">
          <%= link_to posts_path, class: "btn btn-outline-primary" do %>
            <%= fa_icon("arrow-left", text: "Back to posts") %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Edit post', edit_post_path(@post), class: "btn btn-primary" %>
          <% end %>
        </div>
        <!-- start of comments -->
        <div class="comments mt-3">
          <h3>
            <%= fa_icon("comments", text: "Comments") %>
            <small><span class="badge badge-info" id="sizeComments1"></span></small>&nbsp;
            <% if @post.comments.any? %>
            <%= link_to "View comments", "#", class: "btn btn-link", id: "comments_link" %>
            <% else %>
              <%= link_to "Leave a comment", "#", class: "btn btn-link", id: "comments_link" %>
            <% end %>
          </h3>
          <section id="comments-section">
            <ul id="list-comments" class="list-group">
              <% if @post.comments.any? %>
                <%= render @post.comments %>
              <% else %>
              <li class="list-group-item list-group-item-info" id="comment_placeholder">
                <h4>Nobody has commented yet.</h4>
              </li>
              <% end %>
            </ul>
            <div class="my-2">
              <div class="card border-primary">
                <div class="card-header">
                  New comment
                </div>
                <div class="card-body">
                  <%= render "comments/form" %>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- end of comments -->
      </div>
    </div>
  </div>
</div>
<!-- End Blog Single Item Blocks -->

      <!-- Photo by Piotr Miazga on Unsplash Ladle full of vegetable soup with carrots, peas, and ramen noodles -->
      <!-- https://s3.eu-central-1.amazonaws.com/kimis-blog-production/ladle-full-of-veg-soup-piotr-miazga.png -->
      <!-- Photo by Cayla1 on Unsplash - Bowls of orange squash soup topped with feta cheese and herbs -->
      <!-- https://s3.eu-central-1.amazonaws.com/kimis-blog-production/orange-squash-soup-cayla1.jpg -->
      <!-- Photo by Vitchakorn Koonyosying on Unsplash  - rice asian chopsticks-->
