<!-- Blog Single Item Blocks -->
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-3 pr-2 bg-stripes" id="left-col"></div>
    <div class="col-md-7">
      <h1 class="h1 text-info"><%= @post.title %></h1>
      <!-- Author -->
      <div class="media align-items-center mb-2">
        <img class="d-flex img-fluid rounded-circle mr-3" data-src="holder.js/40x40?theme=lava" alt="Image">
        <div class="media-body">
          <h4 class="h6">By Kimberley Smuts</h4>
          <span class="d-block">May 31, 2017</span>
          <span class="d-block">
            <%= fa_icon("tags") %>&nbsp;
            <% if @post.tags.any? %>
              <%= render @post.tags %>
              <% else %>
              <span class="badge badge-warning"> - tag me -</span>
            <% end %>
          </span>

        </div>

        <!-- Figure Social Icons -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item g-mx-2">
            <a class="rounded-circle" href="#!">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="rounded-circle" href="#!">
              <i class="fab fa-pinterest fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="rounded-circle" href="#!">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
        </ul>
        <!-- End Figure Social Icons -->
      </div>
      <!-- End Author -->
      <div class="btn-group mb-2">
        <%= link_to posts_path, class: "btn btn-sm btn-outline-primary" do %>
          <%= fa_icon("arrow-left", text: "Back to posts") %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to 'Edit post', edit_post_path(@post), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
      <p>
        <% if user_signed_in? && @post.header_image.attached? %>
          <div class="media">
            <%= image_tag @post.header_image.variant(resize: "50x50"), class: "img-thumbnail" %>
            <div class="media-body">
              <%= link_to 'Remove header image', remove_header_image_post_path(@post, @header_image),
              method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            </div>
          </div>
        <% end %>
      </p>

      <!-- start of post body-->
      <div class="mb-4 mt-2">
        <span class="firstcharacter">
          <%= (strip_tags @post.body).chr %>
          <!-- retutns the first character after stripping all the tags -->
        </span>
        <p>
          <%= sanitize @post.body[6..-1], attributes: %w(href) %>
        </p>
        <!--Will return the array from 6 to the last character. -->
      </div>
      <!-- end of post -->
      <!-- start of photo slider -->
      <div class="row">
        <div class="col-sm-7 offset-sm-3 my-2">
          <% if user_signed_in? && @post.photos.attached? %>
            <h4 class="text-center">Sharing <%= pluralize(@post.photos.size, 'photo' ) %></h4>
            <p class="text-center">
              <%= link_to 'Remove photos', remove_photo_image_post_path(@post),
                method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
            </p>
          <% end %>
          <div class="mx-auto d-block my-2 post-slider">
            <% @post.photos.each do |photo| %>
              <div>
                <%= image_tag photo.variant(resize: "500x400"), class: "img-fluid img-thumbnail" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- end of photo slider -->
      <!-- start of comments -->
      <div class="comments mt-3">
        <h3>
          <%= fa_icon("comments", text: "Comments") %>
          <small><span class="badge badge-info" id="sizeComments1"></span></small>&nbsp;
          <% if @post.comments.any? %>
          <%= link_to "View comments", "#", class: "btn btn-link", id: "comments_link" %>
          <% else %>
            <%= link_to "Leave a comment", "#", class: "btn btn-link", id: "comments_link" %>
          <% end %>
        </h3>
        <section id="comments-section">
          <ul id="list-comments" class="list-group">
            <% if @post.comments.any? %>
              <%= render @post.comments %>
            <% else %>
            <li class="list-group-item list-group-item-info" id="comment_placeholder">
              <h4>Nobody has commented yet.</h4>
            </li>
            <% end %>
          </ul>
          <div class="my-2">
            <div class="card border-primary">
              <div class="card-header">
                New comment
              </div>
              <div class="card-body">
                <%= render "comments/form" %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end of comments -->
    </div>
  </div>
</div>
<!-- End Blog Single Item Blocks -->

      <!-- Photo by Piotr Miazga on Unsplash Ladle full of vegetable soup with carrots, peas, and ramen noodles -->
      <!-- https://s3.eu-central-1.amazonaws.com/kimis-blog-production/ladle-full-of-veg-soup-piotr-miazga.png -->
      <!-- Photo by Cayla1 on Unsplash - Bowls of orange squash soup topped with feta cheese and herbs -->
      <!-- https://s3.eu-central-1.amazonaws.com/kimis-blog-production/orange-squash-soup-cayla1.jpg -->
      <!-- Photo by Vitchakorn Koonyosying on Unsplash  - rice asian chopsticks-->
