<hr>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h2 class="mb-0">
          About Me
        </h2>
        <p>
          About me dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl
          id libero tincidunt sodales.
        </p>
        <p>
          <%= link_to page_path("about_me") do %>
            Read more&nbsp;<%= fa_icon("angle-double-right") %>
          <% end %>
        </p>
      </div>

      <div class="col-lg-4 col-md-6">
        <% if params[:action] == "index" && controller.controller_name == "posts"%>
            <h2 class="mb-0">Latest Posts</h2>
          <% @records.limit(3).each do |post| %>
            <article>
              <h3 class="h6">
                <%= link_to post.title.truncate(70), post, class: "" %>
              </h3>
              <div class="small "><%= post.created_at.strftime("%d %b %Y") %></div>
            </article>
            <hr class="">
          <% end %>
        <% end %>
      </div>

      <div class="col-lg-4 col-md-6 globe">
        <h2 class="">My Contacts</h2>
        <address>
          <p>
            <%= fa_icon("map-marker", text: "Johannesburg, South Africa", type: "solid") %>
          </p>
          <!-- End Location -->
          <!-- Email and Website -->
          <p>
            <%= fa_icon("at") %>&nbsp;
            <a class="" href="mailto:kimberley.smuts@gmail.com">kimberley.smuts@gmail.com</a>
          </p>
          <p>
            <%= fa_icon("globe") %>&nbsp;
            <a class="" href="#!">www.kimidropsapin.fyi</a>
          </p>
          <!-- End Email and Website -->
        </address>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <ul class="u-list-inline">
          <li class="list-inline-item">
            2018 &copy; All Rights Reserved.
          </li>
          <li class="list-inline-item">
            <span>|</span>
          </li>
          <li class="list-inline-item">
            <%= link_to "Privacy Policy", page_path("privacy_policy"), class: "btn btn-link" %>
          </li>
          <li class="list-inline-item">
            <span>|</span>
          </li>
          <li class="list-inline-item">
            <%= link_to "Terms of use", page_path("terms_of_use"), class: "btn btn-link" %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
            <a href="#!" class="">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
            <a href="#!" class="">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
            <a href="#!" class="">
              <i class="fab fa-pinterest fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->
