<!DOCTYPE html>
<html>
  <head>
    <title>Kimi Drops a Pin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Kimi Drops a Pin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kimi Drops a Pin" %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Header -->
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <!-- End Header -->
    <main role="main">
      <%= yield %>
    </main>
    <footer class="py-5">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
